.file-upload{

}

.table{
  width: 40%;
}

.call-duration{
  font-weight: bold;
  margin: 0;
}

.title-bold{
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}

p{
  margin: 0
}

.delete-time{
  color:red;
  cursor: pointer
}


.ant-table-thead{
  .ant-table-cell{
    background-color: #5295ff !important;
  }
}

.tutorial{
  display: block;
  padding: 10px;
  cursor: pointer;
}

