.file-upload{

}

.table{
  margin-top: 20px;
  width: 40%;
}

.call-duration{
  font-weight: bold;
  margin: 0;
}

.title-bold{
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}

p{
  margin: 0
}

.delete-time{
  color:red;
  cursor: pointer
}


.ant-table-thead{
  .ant-table-cell{
    background-color: #5295ff !important;
  }
}

.tutorial{
  display: block;
  padding: 10px;
  cursor: pointer;
}

.tutorial-image{
  max-width: 100%;
  height: auto;
}

.inline {
    display: inline;
}

.title-table{
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  
}

/* ------------------Media query------------------ */

@media (min-width: 240px) {
  /* Styles for small devices and up */
  .table{
    width: 100%;
  }
}

@media (min-width: 640px) {
  /* Styles for small devices and up */
  .table{
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* Styles for medium devices and up */
  .table{
    width: 100%;
  }
}

@media (min-width: 1024px) {
  /* Styles for large devices and up */
  .table{
    width: 100%;
  }
}

@media (min-width: 1280px) {
  /* Styles for extra large devices and up */
  .table{
    width: 90%;
  }
}

@media (min-width: 1536px) {
  /* Styles for 2XL devices and up */
  .table{
    width: 80%;
  }
}

@media (min-width: 1920px) {
  /* Styles for 3XL devices and up */
  .table{
    width: 70%;
  }
}

@media (min-width: 2560px) {
  /* Styles for 4XL devices and up */
  .table{
    width: 60%;
  }
}

@media (min-width: 3840px) {
  /* Styles for 5XL devices and up */
}